.popup__close-button {
  width: 32px;
  height: 32px;
  padding: 0;
  border: none;
  background: rgba(0,0,0,0);
  background-image: url(../../../images/popup-close-button.svg);
  background-size: 32px 32px;
  position: absolute;
  right: -40px;
  top: -40px;
  cursor: pointer;
  transition-duration: .5s;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media all and (max-width: 767.9px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    right: 0px;
  }
}
