.profile__subtitle  {
  max-width: 336px;
  width: 100%;
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media all and (max-width: 767.9px) {
  .profile__subtitle {
    max-width: 282px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin: 0 auto;
  }
}
