.popup__container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 430px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
}

@media all and (max-width: 767.9px) {
  .popup__container {
    width: 282px;
  }
}

