.profile__hover {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.profile__hover:hover .profile__avatar {
  opacity: 0.4;
}

.profile__hover::before {
  content: url('../../../images/profile-hover.png');
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
  opacity: 0;
  z-index: 1;
}

.profile__hover:hover::before {
  opacity: 1;
}
